<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta name="description" content="<%= excerpt %>" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <base href="/" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="manifest" href="/manifest.json" />
        <% css.forEach(function(bundle) { %>
        <link rel="stylesheet" type="text/css" href="/<%= bundle %>" />
        <% }); %>
        <meta property="og:title" content="<%= title %>" />
        <meta property="og:description" content="<%= excerpt %>" />
        <meta property="og:url" content="<%= url %>" />
        <meta property="og:image" content="<%= image %>" />
        <meta property="twitter:card" content="summary" />
        <meta property="twitter:title" content="<%= title %>" />
        <meta property="twitter:description" content="<%= excerpt %>" />
        <meta property="twitter:image" content="<%= image %>" />

        <% if (isProd) { %>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=UA-37266518-1"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || []
            function gtag() {
                dataLayer.push(arguments)
            }
            gtag('js', new Date())

            gtag('config', 'UA-37266518-1')
        </script>
        <script
            async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=<%= adClient %>"
            crossorigin="anonymous"
        ></script>
        <% } %>

        <script>
            var globalVariable = {
                siteName: '<%= siteName %>',
                title: '<%= title %>',
                excerpt: '<%= excerpt %>',
                frontend: '<%= frontend %>',
                adClient: '<%= adClient %>',
                adSlot: '<%= adSlot %>',
            }
        </script>
    </head>
    <body>
        <noscript>You need to enable JavaScript to run this app.</noscript>
        <div id="root" role="main"></div>
        <% js.forEach(function(bundle) { %>
        <script src="/<%= bundle %>"></script>
        <% }); %>
    </body>
</html>
